{% extends "owner/base_generic.html" %}

{% block content %}
    <div><a href="http://unmsm.edu.pe"><strong>U.N.M.S.M.</strong></a></div>
    <p>Lista de Meseros registrados</p>
    <div class="card-body">
        <a type="button" class="btn btn-success" href="{% url 'owner_create_vc' %}">Crear Owner</a>
        <form method="post">
            {% csrf_token %}
        <table class="table table-striped">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Descripción de Meseros</th>
                <th scope="col">Acción</th>
            </thead>

            <tbody>
                {% for mesero in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><p>{{ mesero.nombre }} tiene {{ mesero.edad }} años y es de {{ mesero.pais }}</p></td>
                        <td>
                            <a type="button" class="btn btn-info" href="{% url 'meseros_edit_vc' meseros.id %}">Editar Meseros</a>
                            <a type="button" class="btn btn-danger" href="{% url 'meseros_delete_vc' meseros.id %}">Eliminar Meseros</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
{% endblock %}